<div class="image bg-white rounded-lg shadow-lg overflow-hidden">
    <a href="#">
        <img src="{{ asset('img/franchise-kebab.jpg') }}" alt="Contact with Customer support" title="Contact with Customer support" height="100%">
    </a>
</div>
<div class="image bg-white rounded-lg shadow-lg overflow-hidden">
    <a href="#">
        <img src="{{ asset('img/kebab-du-moment.jpeg') }}" alt="Contact with Customer support" title="Contact with Customer support" height="100%">
    </a>
</div>
<div class="image bg-white rounded-lg shadow-lg overflow-hidden">
    <a href="#">
        <img src="{{ asset('img/salade.jpg') }}" alt="Contact with Customer support" title="Contact with Customer support" height="100%">
    </a>
</div>