{% for p in products %}
<div class="image bg-white rounded-lg shadow-lg h-350 overflow-hidden {{ p.type }}">
    <a href="{{ path('public_product') }}">
        <img src="{{ asset('img/franchise-kebab.jpg') }}" alt="Contact with Customer support" title="Contact with Customer support" width="100%" height="350">
        <span class="text-center p-2 text-gray-700 text-sm inline-block w-full">{{ p.label }}</span>
    </a>
</div>
{% endfor %}
