<div class="w-full md:w-10/12 text-white h-auto flex flex-row items-center justify-center md:mb-5 border rounded border-blue-400 bg-blue-300 mx-auto">
    <img width="50" class="ml-2 mx-2" src="{{ asset('img/category/sandwich.svg') }}"/>
    <span class="ml-2">Nos formules</span>
</div>
<div class="w-6/12 md:w-10/12 text-white h-auto flex flex-row items-center justify-center md:mb-5 border rounded border-blue-400 bg-blue-300 mx-auto">
    <img width="50" class="ml-2 mx-2" src="{{ asset('img/category/sandwich.svg') }}"/>
    <span class="ml-2">Nos sandwich</span>
</div>
<div class="w-6/12 md:w-10/12 text-white h-auto flex flex-row items-center justify-center md:mb-5 border rounded border-blue-400 bg-blue-300 mx-auto">
    <img width="50" class="ml-2 mx-2" src="{{ asset('img/category/sandwich.svg') }}"/>
    <span class="ml-2">Nos salades</span>
</div>
<div class="w-6/12 md:w-10/12 text-white h-auto flex flex-row items-center justify-center md:mb-5 border rounded border-blue-400 bg-blue-300 mx-auto">
    <img width="50" class="ml-2 mx-2" src="{{ asset('img/category/sandwich.svg') }}"/>
    <span class="ml-2">Nos plats</span>
</div>