<form action="#" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="input-contact">
                <input type="text" name="name">
                <span>your name</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-contact">
                <input type="text" name="email">
                <span>your email</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="input-contact">
                <input type="text" name="object">
                <span>object</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="textarea-contact">
                <textarea name="message"></textarea>
                <span>message</span>
            </div>
        </div>
        <div class="col-md-12">
            <a href="#" class="btn btn-box">Send</a>
        </div>
    </div>
</form>