<div class="w-full flex flex-row items-center justify-between px-5 border border-red-500 h-100">
    <div class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">1</div>
    <a href="" class="text-gray-700 text-center px-4 py-2 m-2"><span class="fa fa-shopping-basket fa-lg"></span></a>
</div>